
          body{
            padding: 50px 50px;
            background: #654ea3;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


            font-family: 'Times new Roman';
            font-size: 16px;
            margin:  auto;
            max-width: 800px;   
          }
          
          table {
            border: thin solid #000000;
            border-collapse: collapse;
            }
            th {
            font-family: monospace;
            border: thin solid #0a0808;
            }
            td {
            font-family: 'Times new Roman';
            border: thin solid #000000;
            text-align: center;
            }
            caption {
            font-family: 'Times new Roman';
            border-radius: 10px;
            }
            table {
              box-shadow: 5px 10px;
            }
            
            table {
              box-shadow: 5px 10px #cc6bcf;
            }
            table {
              box-shadow: 10px 10px 8px #ec9bec;
            }
            
             tbody tr {
          background-image: url(vector-abstract-bokeh-and-glitter-background-illustration.jpg);
        }
        img.profil {
          padding: 10px 10px;
          height: 100px;
          width: 100px;
          display: block;
          margin-left: auto;
          margin-right: auto ;
          border-radius: 100px;
      }
        